<section class="slide-container ">
    <img src="img/right.png" id="right-btn" alt="" class="slide-logo">
    <div class="slide fade">
        <div class="slide-inner">
            <img class="slide-img" src="img/slide-img.jpg" alt="">
            <div class="slide-info">
                <p class="slide-heading">Welcome to Kshatriya</p>
                <p class="slide-text">Kshatriya College of Engineering (KCEA) was established in the year 2001 under the
                    aegis of Pandit Deendayal Upadyay Educational Society. KCEA is located on a sprawling 40 acres
                    campus. It is located on the serene NH-16 highway, 30 km away from nizamabad district. KCEA is
                    affiliated to the Jawaharlal Nehru Technology University Hyderabad.(JNTUH) offering graduate
                    programs in engineering and postgraduate programs in the streams of Engineering, Business
                    Administration, and Polytechnic.</p>
            </div>
        </div>
    </div>
    <div class="slide fade">
        <div class="slide-inner">
            <img class="slide-img" src="img/slide-img-3.jpg" alt="">
            <div class="slide-info">
                <p class="slide-heading">The Motto of NCC “Unity and Discipline”</p>
                <p class="slide-text">In Our college NCC was established in 2003. Strength of NCC cadets are 100. The
                    NCC unit is functioning under the guidance of 12(T)Bn, NCC Nizambad.
                    Since we have been conducting NCC parades and classes for cadets with PI staff and college ANO and
                    also conducting social services activities like Blood Donation camps and tree plantation and also
                    our college cadets have selected for RDC and TSC as well as Combined Annual Training Camps.</p>
            </div>
        </div>
    </div>
    <div class="slide fade">
        <div class="slide-inner">
            <img class="slide-img" src="img/slide-img-2.jpeg" alt="">
            <div class="slide-info">
                <p class="slide-heading">Message from Principal</p>
                <p class="slide-text">I am honoured and privileged to serve as Principal at Kshatriya College of
                    Engineering, Armoor, Nizamabad, Telangana State. KCEA stand on the Principles of making Education
                    the pathway to make students confident by imparting appropriate skills and knowledge that is the
                    need of the industry and Society at large. It is envisaged that the KCEA nurture talent who can
                    contribute responsibly to the future Society. We at KCEA focus on imparting knowledge, skills to
                    make students a person of value with high moral and ethics.</p>
            </div>
        </div>
    </div>
    <img src="img/left.png" id="left-btn" alt="" class="slide-logo">
</section>
<section class="cards-container">
    <div class="card bg-blue">
        <h2 class="card-heading">SUGGESTION</h2>
        <p class="card-text">Your feedback matters! Share your ideas and suggestions to help us improve the college.
            Whether it's about curriculum, facilities, or events, we value your input.</p>
        <div class="card-explore">
            <a href="suggestion">
                <h2 class="card-heading">EXPLORE MORE</h2><img src="img/arrow.png" alt=""
                    style="width: 20px; height: 20px;">
            </a>
        </div>
    </div>
    <div class="card bg-gray">
        <h2 class="card-heading">COMPALINT</h2>
        <p class="card-text">Have any concerns or issues? Register your complaints here. Our team is committed to
            addressing your problems promptly and effectively to ensure a better campus experience for everyone.</p>
        <div class="card-explore">
            <a href="complaint">
                <h2 class="card-heading b">EXPLORE MORE</h2><img src="img/arrow.png" alt=""
                    style="width: 20px; height: 20px;">
            </a>
        </div>
    </div>
    <div class="card bg-blue">
        <h2 class="card-heading">ANTI RAGGING</h2>
        <p class="card-text">We are committed to creating a safe and respectful environment. Report any incidents of
            ragging to help us maintain a zero-tolerance policy and protect all students from harassment.</p>
        <div class="card-explore">
            <a href="antiragging">
                <h2 class="card-heading">EXPLORE MORE</h2><img src="img/arrow.png" alt=""
                    style="width: 20px; height: 20px;">
            </a>
        </div>
    </div>
</section>
<section class="cards-container bg-blue aliginment">
    <div class="card ht">
        <div class="card-inner">
            <div class="card-inner-info">
                <div class="card-inner-logo">
                    <img src="img/Suggestion.png" alt="" style="width: 45px;">
                </div>
                <div class="card-inner-count">
                    <div class="card-count-text">
                        <p class="count-text">
                            <%= noofsuggestions %>
                        </p>
                    </div>
                    <p class="card-info-text">SUGGESTION RECEVIED</p>
                </div>
            </div>
            <div class="card-inner-info">
                <div class="card-inner-logo">
                    <img src="img/suggestion.png" alt="" style="width: 45px;">
                </div>
                <div class="card-inner-count">
                    <div class="card-count-text">
                        <p class="count-text">
                            <%= noofsuggestionssolved %>
                        </p>
                        <img src="img/correct.png" alt="" style="width: 10px; height: 10px;">
                    </div>
                    <p class="card-info-text">SUGGESTIONS IMPLEMENTED</p>

                </div>
            </div>
        </div>

    </div>
    <div class="card ht">
        <div class="card-inner">
            <div class="card-inner-info">
                <div class="card-inner-logo">
                    <img src="img/Complaint.png" alt="" style="width: 45px;">
                </div>
                <div class="card-inner-count">
                    <div class="card-count-text">
                        <p class="count-text">
                            <%= noofcomplaints %>
                        </p>

                    </div>
                    <p class="card-info-text">COMPLAINTS RAISED</p>
                </div>
            </div>
            <div class="card-inner-info">
                <div class="card-inner-logo">
                    <img src="img/Complaint.png" alt="" style="width: 45px;">
                </div>
                <div class="card-inner-count">
                    <div class="card-count-text">
                        <p class="count-text">
                            <%= noofcomplaintssolved %>
                        </p>
                        <img src="img/correct.png" alt="" style="width: 10px; height: 10px;">
                    </div>
                    <p class="card-info-text">COMPLAINTS SOLVED</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card ht">
        <div class="card-inner">
            <div class="card-inner-info">
                <div class="card-inner-logo">
                    <img src="img/Antiragging.png" alt="" style="width: 45px;">
                </div>
                <div class="card-inner-count">
                    <div class="card-count-text">
                        <p class="count-text">
                            <%= noofragging %>
                        </p>
                    </div>
                    <p class="card-info-text">RAGGING INCIDENTS</p>
                </div>
            </div>
            <div class="card-inner-info">
                <div class="card-inner-logo">
                    <img src="img/Antiragging.png" alt="" style="width: 45px;">
                </div>
                <div class="card-inner-count">
                    <div class="card-count-text">
                        <p class="count-text">
                            <%=noofraggingssolved %>
                        </p>
                        <img src="img/correct.png" alt="" style="width: 10px; height: 10px;">
                    </div>
                    <p class="card-info-text">ACTIONS AGAINST ACCUSED</p>
                </div>
            </div>
        </div>
    </div>


</section>